@tailwind base;
@tailwind components;
@tailwind utilities;


/* Remove all default margin and padding */

*,

*::before,

*::after {

  margin: 0;

  padding: 0;

  box-sizing: border-box; /* This ensures that padding and borders are included in the total width and height of the elements */

}

html {

  scroll-behavior: smooth;

}

:root {

  font-size: 16px;

}



body {
  @apply bg-pri_bg_color;
  overflow-x: hidden;
}



@layer utilities {



  .debugger{

    @apply border-4 border-red-500

  }



  .flex_center{

    @apply flex justify-center items-center 

  }

  .flex_between{

    @apply flex justify-between items-center

  }

  .flex_col_center{

    @apply flex flex-col justify-center items-center 

  }

  .flex_col_between{

    @apply flex flex-col justify-between items-center

  }

}

/* GRADIENT FONTS */

.purple_gradient {
  background-image: url('../assets/backgrounds/gradient.svg');
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* TOOLTIP STYLINGS */

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip::after {
  content: attr(data-tooltip); /* Use the data attribute as the content */
  visibility: hidden;
  opacity: 0;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120px/2 = 60px) to center the tooltip */
  transition: opacity 0.3s, visibility 0.3s; /* Smooth transition for the tooltip appearance */
}

/* Show the tooltip when hovering over the tooltip container */
.tooltip:hover::after {
  visibility: visible;
  opacity: 1;
}